.information .line {
    border-bottom: 1px solid gray !important;
}

.information a {
    color: unset;
}

.information h5 a, .information h5 a:hover {
    color: unset;
    text-decoration: unset;
}